backend/.DS_Store
backend/activities/.DS_Store
backend/activities/migrations/.DS_Store
backend/activities/serializers/.DS_Store
backend/activities/viewset/.DS_Store
frontend/.DS_Store
frontend/src/.DS_Store
